.leaseLengthWrapper{
    border-radius: 5px;
    margin-bottom:20px;
}
ul{
    list-style: none;
    padding:0;
    display: grid;
    grid-template-columns: 50% 50%;
}
ul li{
    position: relative;
}
ul li input{
    width:20px;
    height:20px;
    top:50%;
    margin: -10px 0 0 10px;
    position: absolute;
}
ul li label{
    padding:20px 0 20px 40px;
    display: block;
    cursor: pointer;
}
input:checked + label  {
    background:#f3f3f3;
}