<strong>Overzicht</strong>
<div><img src="assets/car.png" alt="Car"/></div>

<div>
  <strong>Merk Model</strong>
  <br/>
  <span>Uitvoering</span><span> &euro;229</span>
</div>

<div>
  <strong>Contract</strong>
  <br/>
  <span>Looptijd {{@leaseLength.months}} maanden</span>
</div>

<div>
  <strong>Maandbedrag</strong><span> &euro; {{@leaseLength.price}}</span>
</div>

